anyio==4.13.0
anywidget==0.10.0
appdirs==1.4.4
asgiref==3.11.1
asttokens==3.0.1
chevron==0.14.0
click==8.3.2
comm==0.2.3
cycler==0.12.1
decorator==5.2.1
et-xmlfile==2.0.0
executing==2.2.1
fonttools==4.62.1
future==1.0.0
h11==0.16.0
htmltools==0.6.0
idna==3.11
importlib-metadata==8.7.1
ipython==9.12.0
ipython-pygments-lexers==1.1.1
ipywidgets==8.1.8
jedi==0.19.2
jupyter-core==5.9.1
jupyterlab-widgets==3.0.16
kiwisolver==1.5.0
linkify-it-py==2.1.0
lzstring==1.0.4
markdown-it-py==4.0.0
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdit-py-plugins==0.5.0
mdurl==0.1.2
narwhals==2.18.1
numpy==2.4.4
openpyxl==3.1.5
opentelemetry-api==1.40.0
orjson==3.11.8
packaging==26.0
pandas==3.0.2
parso==0.8.6
pexpect==4.9.0
pillow==12.2.0
platformdirs==4.9.4
plotly==6.7.0
prompt-toolkit==3.0.52
psygnal==0.15.1
ptyprocess==0.7.0
pure-eval==0.2.3
pygments==2.20.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-multipart==0.0.22
questionary==2.1.1
setuptools==82.0.1
shiny==1.6.0
shinychat==0.2.9
shinylive==0.8.6
shinywidgets==0.7.2
six==1.17.0
stack-data==0.6.3
starlette==1.0.0
traitlets==5.14.3
typing-extensions==4.15.0
uc-micro-py==2.0.0
uvicorn==0.43.0
watchfiles==1.1.1
wcwidth==0.6.0
websockets==16.0
widgetsnbextension==4.0.15
xlrd==2.0.2
zipp==3.23.0
